# Fat or temporal things
*.jar
*~

#sbt
/project/target/
/project/project/target
/target/

# target directories for ant build
/build/
/dists/

# other
/out/
/bin/
/sandbox/

# eclipse
/.classpath
/.project
/.cache
/.settings

# Scala worksheet
/.worksheet

# bak files produced by ./cleanup-commit
*.bak