<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{ISO8601}] [%4p] [%t] %c{1}: %m%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>/home/springubuntu/tcserver/certifactura-poller/poller.log</file>
    <append>true</append>
    <encoder>
      <pattern>[%d{ISO8601}] [%4p] [%t] %c{1}: %m%n</pattern>
    </encoder>
  </appender>  
  <root level="INFO">
    <appender-ref ref="stdout"/>
    <appender-ref ref="file"/>
  </root>
</configuration>
